

h1{
	font-weight:normal;
	
}

div{
	border-style:solid;
	border-color:rgb(255,80,112);
	border-width:5px;
	border-left-style:hidden;
	border-right-style:hidden;
	

}	

p{
	padding:30px;
	/* font:italic bold 20px georgia, serif; */
	
	font:20px georgia, serif;
	border-style:double;  /*someother values groove, inset, outset   */
	border-width:10px 15px 10px 15px;
	border-color:rgb(160,180,180) rgb(200,220,220);
	
	border-top-left-radius:20px;
	border-top-right-radius:120px;
	border-bottom-left-radius:120px;
	border-bottom-right-radius:20px;

	border-radius:10px;
	box-shadow: 5px 5px 7px 2px #878787 inset; /*inset shows shadow inside the box*/
	border:0;
	
	/*letter spacing and line height */
	letter-spacing:1px;
	line-height:50px;
 
	/*word-wrap*/
	
	word-wrap:break-word; /*word wrap breaks the word to the next line if its too long,
							otherwise if we haven't used this property it continues to
							print in the same line and goes off page */
 
}