

h1{
	font-weight:normal;
	text-decoration:underline;
}

div{
		border-style:solid;
}	

p{
	/* font:italic bold 20px georgia, serif; */
	
	font:20px georgia, serif;
	border-style:ridge;  /*someother values groove, inset, outset   */
	border-left-style:hidden;
	border-right-style:hidden;
 
}