

h1{
	font-weight:normal;
	
}

div{
	border-style:solid;
	border-color:rgb(255,80,112);
	border-width:5px;
	border-left-style:hidden;
	border-right-style:hidden;
	

}	

p{
	/* font:italic bold 20px georgia, serif; */
	
	font:20px georgia, serif;
	border-style:double;  /*someother values groove, inset, outset   */
	border-width:10px;
	
	/*border-right-style:solid;
	border-left-style:solid;*/
	
	
	border-color:rgb(160,180,180) rgb(200,220,220);

	
	
 
}