
div{
	
	border-style:solid;
	border-color:rgb(255,80,112);
	border-width:5px;
	border-left-style:hidden;
	border-right-style:hidden;
	/*dimensions*/
	min-width:200px;
	max-width:900px;
	word-wrap:break-word;
	padding-top:15px;
	padding-left:10px;
	margin:40px;
}	

p{
	
	padding: 10px 20px 15px;
	width:400px;
	max-width:500px;
	min-height:80px;
	color:red;
	font:18px georgia, serif;
	border-style:double; 
	border-width:10px 15px 10px 15px;
	border-color:rgb(160,180,180) rgb(200,220,220);
	
	border-radius:10px;
	box-shadow: 5px 5px 7px 2px #878787; 
	border:0;
	
	
	letter-spacing:-1px;
	line-height:-1px;/* -1 value doesnot change anything sets the value to default */
	
	word-wrap:break-word; 
	
	text-indent:60px;
	text-align:left;
 
}